#* libs
lib/
build
build-windows
build-release
build-windows-release
.vscode

src/client/assets/**/*.gif
src/client/assets/**/*.ktx2
src/client/assets/**/*.glb
src/client/assets/**/*.gltf
src/client/assets/**/*.bin